<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>vuejs-simple</title>
</head>
<body>

<div id="app1">
    <bs-date-input
            data-3d-date-picker="true"
            class="date-picker-theme-dark"

            message="안녕하세요"
            :message="parentData"

            @increment="incrementTotal"
    ></bs-date-input>
    <strong>{{ total }}</strong>
</div>
<hr/>

<div id="app2">
    <my-checkbox v-model="foo" value="some value"></my-checkbox>
</div>

<script src="/dist/build.js"></script>
</body>
</html>
